body {
	background-color: rgb(0, 255, 255);
	/* 避免Chorm 因為下滑而自動 refresh 介面 */
	overscroll-behavior: contain; 
}

h1 {color:black; font-size:18px;  }

p {color:purple;margin-left:20px;  }

button {color:black; font-size:20px; margin:2px;  background-color: gray}

/* form {width: 25%; height: 100%;background-color: gray;} */



@media screen and (max-width: 1000px) {
	form {visibility: hidden; display: none; clear: both; width: 25%; height: 100%;background-color: gray;}	

	/* #upTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 100px;
		height: 100px;
		position: fixed;
		font-size: 40px;
		top: 900px;
		left: 300px;
		border-style: solid;
		opacity: 0.5;
		display: block;
	}

	#downTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 100px;
		height: 100px;
		position: fixed;
		font-size: 40px;
		top: 1500px;
		left: 300px;
		border-style: solid;
		opacity: 0.5;
		display: block;
	}
	#leftTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 100px;
		height: 100px;
		position: fixed;
		font-size: 40px;
		top: 1200px;
		left: 0px;
		border-style: solid;
		opacity: 0.5;
		display: block;
	}
	#rightTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 100px;
		height: 100px;
		position: fixed;
		font-size: 40px;
		top: 1200px;
		left: 600px;
		border-style: solid;
		opacity: 0.5;
		display: block;
	} */

	#phoneStartBtn {
		background-color: white;
		width: 200px;
		height: 50px;
		position: fixed;
		font-size: 40px;
		top: 800px;	
		border-style: solid;	
		display: block;
	}
  }





@media screen and (max-width: 1000px) {
	#playground {
		background-color: white;
		width: 1000px;
		height: 500px;
		position: relative;
		font-size: 40px;
		border-style: solid;	
	}	
  }

  @media screen and (min-width: 1000px) {
	#playground {
		background-color: white;
		width: 1000px;
		height: 500px;
		position: fixed;
		font-size: 40px;
		top: 10px;
		left: 400px; 
		border-style: solid;	
	}
	
	/* #upTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 50px;
		height: 50px;
		position: fixed;
		font-size: 40px;
		top: 450px;
		left: 350px;
		border-style: solid;
		opacity: 0.5;
		display: none;	
	}
	#downTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 50px;
		height: 50px;
		position: fixed;
		font-size: 40px;
		top: 500px;
		left: 350px;
		border-style: solid;
		opacity: 0.5;
		display: none;	
	}
	#leftTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 50px;
		height: 50px;
		position: fixed;
		font-size: 40px;
		top: 550px;
		left: 350px;
		border-style: solid;
		opacity: 0.5;
		display: none;	
	}
	#rightTouchBtn {
		background-color: rgb(223, 16, 16);
		width: 50px;
		height: 50px;
		position: fixed;
		font-size: 40px;
		top: 600px;
		left: 350px;
		border-style: solid;
		opacity: 0.5;
		display: none;	
	} */

	#phoneStartBtn {
		background-color: white;
		width: 200px;
		height: 50px;
		position: fixed;
		font-size: 40px;
		top: 800px;	
		border-style: solid;	
		display: none;	
	}
  }
  

 


#snake_head_0 {
	/*background-image: url("snake_head_1_1.png");	
	transform: rotate(90deg); */
	background-image: url("resource/image/Rabit90.gif");
	transform: rotate(90deg); 
}

#snake_head_1 {
	background-image: url("snake_head_2_1.png");
	transform: rotate(270deg);
}

.snake_head {
	color: red;
	width:50px;
	height:50px;
	position: absolute;
	font-size:10px;
	background-size: contain;
}
.food {
	background-image: url("resource/image/RabitFood.gif");
	color: black;
	font-size:10px;
	/*background-color: green; */
	/*border-style: solid; */
	width: 50px;
	height: 50px;
	position: absolute; 
	background-size: contain;
}

.snake_body_1 {
	color: black;
	background-color: blue; 

	/*border-style: solid; */
	width:50px;
	height:50px;
	position: absolute;
	font-size:10px;
	top: 300px;
	left: 300px;
	background-size: contain;
	border-width:1px;

}

.snake_body_0 {
	color: black;
	/*background-color: red; */
	background-image: url("resource/image/RabitBody90.gif");
	/*border-style: solid;*/
	width:50px;
	height:50px;
	position: absolute;
	font-size:10px;
	top: 300px;
	left: 300px;
	background-size: contain;
	border-width:1px;
	/*filter: grayscale(0%)blur(0px);*/

}